@font-face {
  font-family: 'TTLakes-Regular';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/TTLakes-Regular.woff) format('woff'),
  url(../fonts/TTLakes-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'TTLakes-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/TTLakes-Medium.woff) format('woff'),
  url(../fonts/TTLakes-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'TTLakes-Bold';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/TTLakes-Bold.woff) format('woff'),
  url(../fonts/TTLakes-Bold.ttf) format('ttf');
}

body{
  font-family: 'TTLakes-Regular';
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  color: #1B1C21;
}

p,
h1,
body {
  margin: 0;
}

p,
button,
a,
h1 {
  letter-spacing: 0.2px;
}

h1{
  font-family: 'TTLakes-Bold';
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 40px;
}

a{
  text-decoration: none;
}

.header__container{
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  padding: 16px;
}

.header__title{
  color: #7E7E82;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
.brands{
  background-color: #F8F8F8;
}

.brands__container{
  padding: 16px 16px 32px;
}

/* .swiper-container {
  width: 240px;
  height: 90px;
} */

.brands__list{
  display: flex;
  flex-wrap: wrap;
  
}

.brands__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  width: 240px;
  height: 72px;
  margin: 0 24px 16px 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

.brands__img{
  background-size: contain;
  margin-left: 16px;
}

.brands__btn{
  background-image: url(../img/arrow-right.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin-right: 16px;
}


.brands__btn-more{
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: 'TTLakes-Medium';
  color: #1B1C21;
  /* margin-left: 16px; */
  margin-bottom: 14px;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-more__icon{
  margin-right: 16px;
  transform: rotate(180deg);
}

/* .brands__btn-more::before{
  content: '';
  position: absolute;
  background-image: url(../img/arrows.svg);
  width: 8px;
  height: 11px;
  top: 6px;
  left: -16px;
  transform: rotate(180deg);
} */

@media (min-width: 320px) {
  .brands__item{
    width: 240px;
    height: 72px;
    margin: 0 8px 16px;
  }
  /* .brands__list{
    flex-wrap: nowrap;
  } */
  
  .brands__btn-more--none-sm{
    display: none;
  }

}

@media (min-width: 576px) {
  .brands__btn-more--none-sm{
    display: block;
  }
}

@media (min-width: 768px) {
  .header__container{
    padding: 16px 24px;
  }
  .brands__container{
    padding: 24px 24px;
  }
  .brands__item{
    width: 224px;
    height: 72px;
    margin: 0 16px 16px 0;
  }
  .brands__btn-more--none-sm{
    display: block;
  }
}

@media (min-width: 1120px) {
  .header__container{
    padding: 16px 32px;
  }
  .brands__container{
    padding: 24px 32px;
  }
  .brands__item{
    width: 240px;
    height: 72px;
    margin: 0 16px 16px 0;
  }
  .brands__btn-more--none-sm{
    display: block;
  }
}

@media (min-width: 1200px) {
  .brands__item{
    margin: 0 32px 16px 0;
  }
}