@font-face {
  font-family: 'TTLakes-Regular';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/TTLakes-Regular.woff) format('woff'),
  url(../fonts/TTLakes-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'TTLakes-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/TTLakes-Medium.woff) format('woff'),
  url(../fonts/TTLakes-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'TTLakes-Bold';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/TTLakes-Bold.woff) format('woff'),
  url(../fonts/TTLakes-Bold.ttf) format('ttf');
}

body{
  font-family: 'TTLakes-Regular';
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  color: #1B1C21;
}

p,
h1,
body {
  margin: 0;
}

p,
button,
a,
h1 {
  letter-spacing: 0.2px;
}

h1{
  font-family: 'TTLakes-Bold';
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 40px;
}

a{
  text-decoration: none;
}


.header {
  border-bottom: 1px solid #D9FFF5;
  width: 100%;
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 19px 16px 17px;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__title,
.services__title{
  margin-bottom: 16px;
}

.btn {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: none;
  border-radius: 50%;
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.btn:focus{
  outline: none;
  background-color: #ff6b97;
}

.btn:hover {
  background-color: #ec3c71;
}

.btn--margin {
  margin-right: 16px;
}

.header__line {
  border-left: 2px solid #EAEAEA;
  border-radius: 1px;
  height: 32px;
  margin-right: 20px;
}

.header--none,
.header__line--none,
.header__text--none,
.btn--none {
  display: none;
}


.services{
  background-color: #F8F8F8;
}

.services__container{
  padding: 24px 16px 9px;
}

.title-services{
  position: relative;
}

.title-services::before{
  content: '';
  position: absolute;
  top: 0;
  left: -17px;
  height: 40px;
  border-left: 4px solid #41F6D7;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.services__list{
  display: flex;
  /* -webkit-overflow-x: scroll;
  -o-overflow-x: scroll;
  -moz-overflow-x: scroll;
  -ms-overflow-x: scroll; */
  overflow-x: scroll;
  align-items: center;
  padding: 0;
  margin: 0 0 22px 0;
  list-style: none;
}

.choice-service::-webkit-scrollbar {
  width: 0;
}

.choice-service__item{
  margin-right: 3px;
  flex-shrink: 0;
}

.choice-service__link{
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'TTLakes-Medium';
  color: #7E7E82;
  padding: 6px 13px;
}

.choice-service__link--active{
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  /* padding: 6px 13px; */
}

.content__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
  background-color: none;
  width: 40px;
  height: 40px;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

/* .content__description{
  min-width: 312px;
} */

.content__more{
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: 'TTLakes-Medium';
  color: #1B1C21;
  margin-left: 30px;
  margin-bottom: 15px;
  border: none;
  background: none;
}

.content__more::before{
  content: '';
  position: absolute;
  background-image: url(../img/arrows.svg);
  width: 8px;
  height: 11px;
  top: 6px;
  left: -16px;
}

.content__more:focus{
  outline: none;
}
.content__more:hover{
  font-weight: bold;
}

.content__img{
  max-width: 320px;
  width: 100%;
  height: auto;
  object-fit: cover;
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
}

.content__text{
  margin-bottom: 16px;
}

.content__text--md,
.content__text--xl{
  display: none;
}


@media (min-width: 576px) {
  .header--none{
    display: none;
  }
  .header--none-xl{
    display: block;
  }
  /* .content{
    
  } */

  .content__description{
    margin-right: 48px;
  }

  .content__img{
    max-width: 360px;
    border-radius: 6px;
    /* margin-left: auto;
    margin-right: auto; */
  }
}


@media (min-width: 768px) {
  .header--none{
    display: none;
  }
  .header--none-xl{
    display: block;
  }
  .header__container{
    margin: 19px 24px 18px;
  }
  .header__line--none{
    display: flex;
    margin-left: 4px;
  }
  .btn--none{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content__text--md{
    display: block;
  }
  .content__text--xl{
    display: none;
  }
  .services__container{
    padding: 24px 24px 9px;
  }
  .title-services::before{
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
  }

  .content{
    display: flex;
    flex-wrap: nowrap;
  }

  .content__img{
    max-width: 360px;
    border-radius: 6px;
  }

  .services__list{
    margin: 0 0 30px 0;
  }

}


@media (min-width: 1120px) {

  .body-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
  }
  .header--none{
    display: block;
    border-bottom: none;
  }
  .header{
    background-color: #F8F8F8;
  }
  .header__container{
    padding: 40px 32px 9px;
    margin: 0;
  }
  .header--none-xl{
    display: none;
  }
  .header__line--none{
    display: none;
  }
  .btn--none{
    display: none;
  }
  .title-services--none-xl{
    display: none;
  }
  .title-services::before{
    content: '';
    position: absolute;
    top: 0;
    left: -32px;
    height: 40px;
    border-left: 4px solid #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .services__list{
    flex-wrap: wrap;
    margin: 0 0 20px 0;
  }

  .header__text--none{
    display: flex;
    margin-right: 9px;
  }

  .content__text--md{
    display: none;
  }
  .content__text--xl{
    display: block;
  }

  .content__description{
    margin-right: 36px;
  }

  .services__container{
    padding: 24px 34px 9px;
  }

  .content{
    display: flex;
    flex-wrap: nowrap;
  }

  .content__img{
    max-width: 532px;
    border-radius: 6px;
  }

  .choice-service__item{
    margin: 0 3px 14px 0;
  }
}