@font-face {
  font-family: 'TTLakes-Regular';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/TTLakes-Regular.woff) format('woff'),
  url(../fonts/TTLakes-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'TTLakes-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/TTLakes-Medium.woff) format('woff'),
  url(../fonts/TTLakes-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'TTLakes-Bold';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/TTLakes-Bold.woff) format('woff'),
  url(../fonts/TTLakes-Bold.ttf) format('ttf');
}

body{
  font-family: 'TTLakes-Regular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  box-sizing: border-box;
  color: #1B1C21;
  margin: 0;}

h1{
  font-family: 'TTLakes-Bold';
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 16px;
}

a{
  text-decoration: none;
}
p{
  margin-top: 0;
}


.header {
  border-bottom: 1px solid #D9FFF5;
  width: 100%;
}

.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 19px 16px 17px;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.btn {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: none;
  border-radius: 50%;
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.btn:focus{
  outline: none;
  background-color: #ff6b97;
}

.btn:hover {
  background-color: #ec3c71;
}

.btn--margin {
  margin-right: 16px;
}

.header__line {
  border-left: 2px solid #EAEAEA;
  border-radius: 1px;
  height: 32px;
  margin-right: 20px;
}

.header--none,
.header__line--none,
.header__text--none,
.btn--none {
  display: none;
}



.section{
  background-color: #F8F8F8;
}

.section__container{
  padding: 24px 16px 9px;
}

.h1{
  position: relative;
}

.h1::before{
  content: '';
  position: absolute;
  top: 0;
  left: -17px;
  height: 40px;
  border-left: 4px solid #41F6D7;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.menu{
  display: flex;
  /* -webkit-overflow-x: scroll;
  -o-overflow-x: scroll;
  -moz-overflow-x: scroll;
  -ms-overflow-x: scroll; */
  overflow-x: scroll;
  align-items: center;
  padding: 0;
  margin: 0 0 30px 0;
  list-style: none;
}

.menu::-webkit-scrollbar {
  width: 0;
}

.menu__item{
  display: inline-block;
  color: #7E7E82;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'TTLakes-Medium';
  margin-right: 25px;
}

.menu__item--active{
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  padding: 6px 13px;
}

.content-wrap__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
  background-color: none;
  width: 40px;
  height: 40px;
}

.content-wrap{
  display: flex;
  flex-wrap: wrap;
}

.content-wrap__descr{
  min-width: 312px;
}

.btn-more{
  font-size: 16px;
  line-height: 24px;
  font-family: 'TTLakes-Medium';
  color: #1B1C21;
  margin-left: 8px;
  margin-bottom: 15px;
  border: none;
  background: none;
}
.btn-more__img{
  padding-right: 16px;
}

.btn-more:focus{
  outline: none;
}
.btn-more:hover{
  font-weight: bold;
}

.content-wrap__img{
  /* display: block; */
  max-width: 531px;
  width: 100%;
  height: auto;
  object-fit: cover;
  flex: 1 1 auto;
}


.content-wrap__text--md,
.content-wrap__text--xl{
  display: none;
}


@media (min-width: 576px) {
  .header--none{
    display: none;
  }
  .header--none-xl{
    display: block;
  }
  .content-wrap{
    display: flex;
    flex-wrap: nowrap;
  }

  .content-wrap__descr{
    margin-right: 48px;
  }

  .content-wrap__img{
    border-radius: 6px;
  }
}


@media (min-width: 768px) {
  .header--none{
    display: none;
  }
  .header--none-xl{
    display: block;
  }
  .header__container{
    margin: 19px 24px 18px;
  }
  .header__line--none{
    display: flex;
    margin-left: 4px;
  }
  .btn--none{
    display: block;
  }

  .content-wrap__text--md{
    display: block;
  }
  .content-wrap__text--xl{
    display: none;
  }
  .section__container{
    padding: 24px 24px 9px;
  }
  .h1::before{
  content: '';
  position: absolute;
  top: 0;
  left: -25px;
}

}


@media (min-width: 1120px) {
  .header--none{
    display: block;
    border-bottom: none;
  }
  .header{
    background-color: #F8F8F8;
  }
  .header__container{
    padding: 40px 32px 9px;
    margin: 0;
  }
  .header--none-xl{
    display: none;
  }
  .header__line--none{
    display: none;
  }
  .btn--none{
    display: none;
  }
  .h1--none-xl{
    display: none;
  }
  .h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: -33px;
    height: 40px;
    border-left: 4px solid #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .header__text--none{
    display: flex;
    margin-right: 9px;
  }

  .content-wrap__text--md{
    display: none;
  }
  .content-wrap__text--xl{
    display: block;
  }

  .content-wrap__descr{
    margin-right: 36px;
  }

  .section__container{
    padding: 24px 34px 9px;
  }
}